[metadata]
name = stwcs

# version is the *next* version to be release, with .dev at the end if it is not final
version = 0.10.dev

author = Nadia Dencheva, Warren Hack
author-email = help@stsci.edu
summary = Recomputes the WCS of an HST observation and puts all distortion
 corrections in the headers
home-page = http://www.stsci.edu/resources/software_hardware/stsci_python 
classifier =
    Intended Audience :: Science/Research
    License :: OSI Approved :: BSD License
    Operating System :: OS Independent
    Programming Language :: Python
    Topic :: Scientific/Engineering :: Astronomy
    Topic :: Software Development :: Libraries :: Python Modules
requires-python = >=2.5
requires-dist =
    stsci.tools (==3.0)
    pywcs (>=1.10)

[files]
packages_root = lib
packages =
    stwcs
    stwcs.distortion
    stwcs.updatewcs
    stwcs.wcsutil
    stwcs.gui
pacakge_data = 
    stwcs.gui = gui/pars/* gui/htmlhelp/*.html gui/*.help 

[global]
commands = stsci.distutils.command.easier_install.easier_install

[sdist]
pre-hook.svn-info = stsci.distutils.hooks.svn_info_pre_hook
post-hook.svn-info = stsci.distutils.hooks.svn_info_post_hook

[build_py]
#pre-hook.svn-info = stsci.distutils.hooks.svn_info_pre_hook
#post-hook.svn-info = stsci.distutils.hooks.svn_info_post_hook

