name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 6AM build
    - cron: "0 0 * * 1"

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Python 3.11
            runs-on: windows-latest
            python-version: 3.11
            toxenv: py311
            posargs: -vv

          - name: Python 3.12
            runs-on: macos-latest
            python-version: 3.12
            toxenv: py312

          - name: Python 3.13
            runs-on: ubuntu-latest
            python-version: 3.13
            toxenv: py313

          - name: Code style checks
            runs-on: ubuntu-latest
            python-version: 3.11
            toxenv: style

          - name: Python 3.13 with dev dependencies
            runs-on: ubuntu-latest
            python-version: 3.13
            toxenv: dev
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }} -- ${{ matrix.posargs }}
